.App {
  text-align: center;
}
.header{
  display: flex;
  background-color: rgb(57 114 159);
  height: 70px;
  justify-content: center;
  align-items: center;
}
h2{
  margin: 0;
}
.tab-panel{
  background-color: white;
  margin-top: 10px;
  height: 100vh;
}
.image-container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.child-image{
  padding: 20px;
}
.m-left-10{
  margin-left: 10px !important;
}
.image-dimension {
  width: 50%;
  height: 80vh;
}
@media screen and (max-width: 600px) {
  .image-container {
    flex-direction: column;
  }
  .image-dimension {
    width: 100%;
    height: 60%;
  }
}